services:

  email-backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: email-backend
    restart: unless-stopped
    networks:
      - app-network
    volumes:
      - ./backend:/app
    expose:
      - "5000"

  frontend-app:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-app
    restart: unless-stopped
    networks:
      - app-network
    expose:
      - "80"

  caddy:
    image: caddy:2.7.4
    container_name: caddy
    restart: unless-stopped
    networks:
      - app-network
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy-config/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - frontend-app
      - email-backend

networks:
  app-network:
    driver: bridge

volumes:
  caddy_data:
  caddy_config:
