<body>
Hi {{Name}},

<b style="font-size:18px; color:#0052cc; margin:0 0 8px 0;">Wishing you a very Happy New Year 2026!🎉</b>
May this year bring continued growth and success to your restaurant.

We’re reaching out from <b>Cube AI Solutions</b> to introduce our <b>AI-powered Voice Agent / AI Receptionist</b> that answers reservation calls and books tables automatically <b>24/7</b> — ensuring no missed calls and handling bookings end-to-end in a natural, reliable way.

Our AI Voice Agent can:
<ul>
    <li>Manage bookings & cancellations</li>
    <li>Natural voice conversation</li>
    <li>Integrates with your system</li>
    <li>Reduce missed calls & staff load</li>
</ul>
Would you be open to a <b>10-minute demo</b> to see how this can increase confirmed bookings while freeing up your team’s time?

Looking forward to connecting.

Best regards,
<b>Cube AI Solutions</b>
</body>



PS D:\CubeAI Solutions\merge\Email-Agent\frontend> git add .
warning: in the working copy of 'frontend/node_modules/css-select-base-adapter/.gitattributes', LF will be replaced by CRLF the next time Git touches it 
warning: in the working copy of 'frontend/node_modules/css-select-base-adapter/LICENSE', LF will be replaced by CRLF the next time Git touches it        
warning: in the working copy of 'frontend/node_modules/css-select-base-adapter/index.js', LF will be replaced by CRLF the next time Git touches it       
warning: in the working copy of 'frontend/node_modules/css-select-base-adapter/package.json', LF will be replaced by CRLF the next time Git touches it   
warning: in the working copy of 'frontend/node_modules/css-select-base-adapter/readme.md', LF will be replaced by CRLF the next time Git touches it      
warning: in the working copy of 'frontend/node_modules/css-select-base-adapter/test/data.js', LF will be replaced by CRLF the next time Git touches it   
warning: in the working copy of 'frontend/node_modules/css-select-base-adapter/test/implementation.js', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/css-select-base-adapter/test/index.js', LF will be replaced by CRLF the next time Git touches it  
warning: in the working copy of 'frontend/node_modules/is-map/.editorconfig', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-map/.eslintrc', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-map/.gitattributes', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-map/.github/FUNDING.yml', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-map/.nycrc', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-map/CHANGELOG.md', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-map/LICENSE', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-map/README.md', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-map/index.d.ts', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-map/index.js', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-map/package.json', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-map/test/index.js', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-map/tsconfig.json', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-set/.editorconfig', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-set/.eslintrc', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-set/.gitattributes', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-set/.github/FUNDING.yml', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-set/.nycrc', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-set/CHANGELOG.md', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-set/LICENSE', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-set/README.md', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-set/index.d.ts', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-set/index.js', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-set/package.json', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-set/test/index.js', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-set/tsconfig.json', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-weakset/.editorconfig', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-weakset/.eslintrc', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-weakset/.gitattributes', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-weakset/.github/FUNDING.yml', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-weakset/.nycrc', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-weakset/CHANGELOG.md', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-weakset/LICENSE', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-weakset/README.md', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-weakset/index.d.ts', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-weakset/index.js', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-weakset/package.json', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-weakset/test/index.js', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'frontend/node_modules/is-weakset/tsconfig.json', LF will be replaced by CRLF the next time Git touches it
